@font-face {
  font-family: Karla;
  src: url("/src/assets/Karla/Karla-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 1 999;
}

@font-face {
  font-family: Inter;
  src: url("/src/assets/Inter/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype-variations");
  font-weight: 1 999;
}

.nav-bar {
  display: flex;
  align-items: center;
  padding: 19px 37px 19px 19px;
  color: #ffffff;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}

.title {
  display: flex;
}

.title > img {
  width: 31px;
}

.title > p {
  font-family: Karla;
  font-weight: 700;
  font-size: 21px;
  letter-spacing: -2px;
  margin-left: 6px;
}

.sub-heading {
  text-align: right;
  margin-left: auto;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
}
