@font-face {
  font-family: Karla;
  src: url("/src/assets/Karla/Karla-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 1 999;
}

@font-face {
  font-family: Inter;
  src: url("/src/assets/Inter/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype-variations");
  font-weight: 1 999;
}

:root {
  font-family: Karla;
}

main {
  padding: 36px;
}

.nav-bar {
  display: flex;
  align-items: center;
  padding: 19px 37px 19px 19px;
  color: #ffffff;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}

.title {
  display: flex;
}

.title > img {
  width: 31px;
}

.title > p {
  font-weight: 700;
  font-size: 21px;
  letter-spacing: -2px;
  margin-left: 6px;
}

.sub-heading {
  text-align: right;
  margin-left: auto;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
}

.grid {
  display: grid;
}

.memeform {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 17px;
  row-gap: 15px;
}

.memeform > input {
  padding: 11px;
  font-weight: 400;
  line-height: 14px;
  border-radius: 5px;
  border-color: #d5d4d8;
  border-width: 1px;
  border-style: solid;
}

.submit-btn {
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border: none;
  font-size: 16px;

  font-weight: 700;
  letter-spacing: -1.6px;
  padding: 11px;
  border-radius: 5px;
  grid-column: 1 / 3;
  color: #ffffff;
  font-family: Karla;
}
